.idea/
/.idea/dataSources.local.xml
/.idea/dataSources/0cbe2617-2f34-44a2-af15-c2be8118f7f3.xml
/.idea/dataSources/0cbe2617-2f34-44a2-af15-c2be8118f7f3/storage_v2/_src_/schema/main.uQUzAA.meta
/.idea/dataSources/d55f7d0f-aa73-4e18-a5dc-a354b2b0c34a.xml
/.idea/dataSources/d55f7d0f-aa73-4e18-a5dc-a354b2b0c34a/storage_v2/_src_/schema/main.uQUzAA.meta
/.idea/dataSources/e70bd0cf-bd8a-4a51-931f-0ed0450ee5df.xml
/.idea/dataSources/e70bd0cf-bd8a-4a51-931f-0ed0450ee5df/storage_v2/_src_/schema/main.uQUzAA.meta
/.idea/dataSources/f01965e0-9a8e-4da4-9514-2f24c4c87bcf.xml
/.idea/dataSources/f01965e0-9a8e-4da4-9514-2f24c4c87bcf/storage_v2/_src_/schema/main.uQUzAA.meta
/.idea/workspace.xml
/_data/auth/api.yaml
/_data/auth/reddit.yaml
/_data/logs/log_counter.json
/_data/logs/log_filter.md
/_data/archival/
/_data/auth/
/_data/databases/
/_data/logs/
/_data/reports/
/_data/settings/discord_settings.yaml
/_data/settings/scheduler_settings.yaml
/_data/templates/translation_challenge.md
/docs/logging_guidelines.pdf
/docs/setup.md
!/_data/auth/api.yaml
/zhongsheng/restart.py
