/Data/_log_filter.md
/Data/Databases/ajo.db
/Data/Databases/cache.db
/Data/Databases/main.db
/Data/_log_counter.json
/Data/Archival/all_identified.md
/Data/Archival/all_saved.md
/Data/Settings/discord_settings.yaml