aiofiles
aiohttp
beautifulsoup4
discord.py
googlesearch-python
huggingface_hub[hf_xet]
ImageHash
jieba
krdict.py
korean-romanizer
lxml
MeCab
numpy
openai
opencc
orjson
Pillow
praw
prawcore
psutil
pycountry
pykakasi
python-dateutil
pyyaml
rapidfuzz
random_user_agent
scikit-learn
selenium
sentence-transformers
setuptools<81  # To avoid issues with jieba
unidic  # Used by MeCab
unidic-lite  # Used by MeCab
wasabi
waybackpy
wikipedia
httpx
requests
yt-dlp
# On RPI, install build tools and dependencies for kiwipiepy:
# sudo apt install -y cmake build-essential python3-dev
kiwipiepy  # Can be problematic, put last (see docs)
