# Asynchronous HTTP client
aiohttp

# Asynchronous file operations
aiofiles

# HTML parsing
beautifulsoup4

# Image processing
Pillow

# Image hashing
ImageHash

# Chinese text processing
jieba
opencc

# Korean romanization and lookup
korean-romanizer
krdict.py

# Japanese text processing
MeCab
pykakasi
unidic
unidic-lite

# HTML/XML parsing
lxml

# OpenAI API
openai

# Fast JSON library
orjson

# HTTP client
httpx

# System utilities
psutil

# Reddit API
praw
prawcore

# YAML config
pyyaml

# YouTube downloader
pytube

# Fuzzy matching
rapidfuzz

# Web automation
selenium

# HTTP requests
requests

# Country data
pycountry

# Formatting messages
wasabi

# Wayback Machine
waybackpy

# Wikipedia API
wikipedia

# Google search
googlesearch-python